<div class="m-2 m-md-2 p-2 p-md-2"></div>
<footer class="rounded-top mb-1">
    <div class="container pt-md-4 pb-md-3 pt-2">
        <div class="row align-items-center mb-2">
            <div class="col-md-4 col-12 text-center">
                <img src="assets/images/iteam-s.png" class="img-fluid" width="100" height="100">
            </div>
            <div class="col-md-4 col-12 text-center">
                <p class="fs-4 fw-bold">iTeam-$ Community</p>
                <p class="fs-6">
                    Future will be better, when we build it together...
                </p>
            </div>
            <div class="col-md-4 col-12 text-center">
                <p class="fs-4">Réseaux sociaux</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://iteam-s.mg/" target="_blank" class="ps-2 pe-2">
                            <i class="fa-solid fa-globe fs-4"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/iTeam-S/" target="_blank" class="ps-2 pe-2">
                            <i class="fa-brands fa-github fs-4"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:contact@iteam-s.mg" target="_blank" class="ps-2 pe-2">
                            <i class="fa-solid fa-envelope-open-text fs-4"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-center fs-6 mb-2">
                © 2022 Copyright: iTeam-$ <a href="https://www.iteam-s.mg" target="_blank">https://www.iteam-s.mg</a>
            </div>
        </div>
    </div>
</footer>
