.titre {
    font-family: 'Tangerine', cursive;
    background: #057885;
    color: white;
}

.titreCarte {
    color: #057885;
}

ul li {
    list-style-type: none;
}

ul li i, #updateFormationsLabel, label {
    color: #057885;
}

.carteFormations {
    transition: scale 0.7s;
}

.carteFormations:hover {
    scale: 1.03;
}

.stylo {
    transition: scale 0.3s;
}

.stylo:hover {
    scale: 1.1;
}
