<div class="m-2 m-md-2 p-2 p-md-2"></div>
<div class="container-fluid">
    <div class="row border rounded-3 bg-light justify-content-center p-2">
        <div class="col-12 border rounded-3 shadow text-center titre">
            <div class="fs-1">Formations</div>
        </div>
        <div class="container m-2">
            <div class="row row-cols-1 row-cols-md-4 g-4 ms-md-4 me-md-4">
                <div class="col d-flex justify-content-center flex-column" *ngFor="let formation of formations">
                    <div class="card h-100 rounded-3 p-2 shadow carte">
                        <div class="">
                            <h5 class="card-title text-center titreCarte fw-bold">{{ formation.type }}</h5>
                            <ul class="card-text">
                                <li class="p-2">
                                    <span class="fw-bold">
                                    <i class="fa-solid fa-location-dot me-2"></i> <u>Lieu</u>: </span> {{ formation.lieu }}</li>
                                <li class="p-2">
                                    <span class="fw-bold">
                                    <i class="fa-solid fa-calendar-days me-2"></i> <u>Année</u>: </span> {{ formation.annee }}</li>
                                <li *ngIf="formation.description" class="p-2">
                                    <span class="fw-bold">
                                        <i class="fa-solid fa-comment-dots me-2"></i> <u>Description</u>: </span> {{ formation.description }}</li>
                            </ul>
                        </div>
                        <div class="position-absolute bottom-0 end-0">
                            <i class=" fa-solid fa-pen-to-square text-secondary me-3 me-md-4 stylo" type="button"
                                data-bs-toggle="modal" data-bs-target="#updateFormations" (click)="onUpdate(formation)"
                                data-bs-whatever="@getbootstrap"></i>
                            <i class="fa-solid fa-trash-can text-secondary me-2 stylo" type="button"
                                (click)="onDelete(formation.id)"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 rounded-3 d-flex justify-content-center align-items-center">
                        <button class="btn btn-link ajouter border rounded-3"
                            data-bs-toggle="modal" data-bs-target="#ajouterFormations"
                            data-bs-whatever="@getbootstrap">
                            <i class="fa-solid fa-plus fs-2 rounded-circle p-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *********************** MODAL POUR MODIFIER FORMATIONS ************************** -->
    <div class="modal fade" id="updateFormations" tabindex="-1" aria-labelledby="updateFormationsLabel" 
        data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-4 fw-bold" id="updateFormationsLabel">Modifier la formation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formationsUpdate" class="form-group">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control rounded-pill ps-4" id="lieu" 
                                placeholder="Lieu ***" formControlName="lieu">
                            <label for="lieu" class="form-label ms-2">
                                <i class="fa-solid fa-location-dot me-2"></i> Lieu:</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control rounded-pill ps-4" id="annee" 
                                placeholder="Année ***" formControlName="annee">
                            <label for="annee" class="form-label ms-2">
                                <i class="fa-solid fa-calendar-days me-2"></i> Année:</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control rounded-pill ps-4" id="type" 
                                placeholder="Confirmation ***" formControlName="type">
                            <label for="type" class="form-label ms-2">
                                <i class="fa-solid fa-comment me-2"></i> Type:</label>
                        </div>
                        <div class="form-floating mb-4">
                            <textarea type="text" class="form-control rounded-3 ps-4" id="description" 
                                placeholder="Description ***" formControlName="description" style="height: 113px;"></textarea>
                            <label for="type" class="form-label ms-2">
                                <i class="fa-solid fa-comment-dots me-2"></i> Description:</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="onFormationsUpdate()" [disabled]="formationsUpdate.invalid">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ********************** AJOUTER FORMATION ******************** AJOUTER FORMATION ******************** -->
    <div class="modal fade" id="ajouterFormations" tabindex="-1" aria-labelledby="ajouterFormationsLabel" 
        data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-4 fw-bold" id="ajouterFormationsLabel">Ajouter une formation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formationsAdd" class="form-group">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control rounded-pill ps-4" id="lieuA" 
                                placeholder="Lieu ***" formControlName="lieu">
                            <label for="lieuA" class="form-label ms-2">
                                <i class="fa-solid fa-location-dot me-2"></i> Lieu:</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control rounded-pill ps-4" id="anneeA" 
                                placeholder="Année ***" formControlName="annee">
                            <label for="anneeA" class="form-label ms-2">
                                <i class="fa-solid fa-calendar-days me-2"></i> Année:</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control rounded-pill ps-4" id="typeA" 
                                placeholder="Type ***" formControlName="type">
                            <label for="typeA" class="form-label ms-2">
                                <i class="fa-solid fa-comment me-2"></i> Type:</label>
                        </div>
                        <div class="form-floating mb-4">
                            <textarea type="text" class="form-control rounded-3 ps-4" id="descriptionA" 
                                placeholder="Description ***" formControlName="description" style="height: 113px;"></textarea>
                            <label for="descriptionA" class="form-label ms-2">
                                <i class="fa-solid fa-comment-dots me-2"></i> Description:</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="onFormationsAdd()" [disabled]="formationsAdd.invalid">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ********************* MESSSAGE MODIFICATION ***************** MESSAGE MODIFICATION ***************** -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToastFormations" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header" [style.color]="titreToast !== 'Erreur' ? '#19873f' : '#dc3545'">
                <strong class="me-auto"><i [class]="iconeToast"></i> {{ titreToast }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-center" [style.color]="titreToast !== 'Erreur' ? '#19873f' : '#dc3545'">
                {{ messageToast }}</div>
        </div>
    </div>
</div>
