.titre {
    font-family: 'Tangerine', cursive;
    background: #057885;
    color: white;
}

.titreCarte {
    color: #057885;
}

ul li {
    list-style-type: none;
}

ul li i, #updateExperiencesLabel, label {
    color: #057885;
}

.carteExperience {
    transition: scale 0.7s;
}

.carteExperience:hover {
    scale: 1.03;
}

.stylo {
    transition: scale 0.3s;
}

.stylo:hover {
    scale: 1.1;
}

.ajouter {
    transition: scale 0.5s;
}

.ajouter:hover {
    scale: 1.1;
}
