<div class="container mt-md-5 mt-1">
    <div class="row login p-1">
        <div class="col-md-6 col-12 p-2 d-flex justify-content-center align-content-center">
            <img src="assets/images/login.svg" alt="" class="img-fluid" id="imageLogin">
        </div>
        <div class="col-md-6 col-12 p-3 ps-md-4 pe-md-4 pt-md-4 shadow" id="formulaireLogin">
            <div class="text-center d-flex justify-content-center align-items-center">
                <div class="fs-2 ms-2 me-2" id="titre">Portfolio</div>
                <img src="assets/images/iTeam-$.png" alt="" class="img-fluid" height="70" width="70">
            </div>
            <figure class="text-center">
                <figcaption class="blockquote-footer m-2 p-1">
                    "<cite title="Source Title">Passions and dreams</cite>
                    are like time, nothing can stop them...!"
                </figcaption>
            </figure>
            <form [formGroup]="loginForm" class="form-group m-md-4">
                <div class="form-floating mb-4">
                    <input type="text" class="form-control rounded-pill ps-4" id="identifiant" 
                        placeholder="Votre identifiant" formControlName="identifiant">
                    <label for="identifiant" class="form-label ms-2">
                        <i class="fa-solid fa-address-card"></i> Votre identifiant:</label>
                </div>

                <div class="form-floating mb-4">
                    <input [type]="inputPasswordType" class="form-control rounded-pill ps-4" id="password" 
                        placeholder="Votre mot de passe" formControlName="password">
                    <label for="password" class="form-label ms-2">
                        <i class="fa-solid fa-unlock"></i> Votre mot de passe:</label>
                </div>
                <div class="form-check ms-3">
                    <input class="form-check-input" type="checkbox" 
                        id="checkboxLogin" (change)="onShowPassword($event)">
                    <label class="form-check-label" for="checkboxLogin">
                        <span class="text-secondary">Afficher le mot de passe.</span>
                    </label>
                </div>
                <div *ngIf="erreur" [ngClass]="{'text-danger': erreur}">{{ erreur }}</div>
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-12 text-center">
                            <button type="submit" (click)="onSubmitLogin()"
                             class="btn rounded-pill" id="connecter" [disabled]="loginForm.invalid">se connecter</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="container mb-3 mt-3 mt-md-2">
                <div class="row">
                    <div class="col-12 text-end">
                        <button type="button" routerLink="forgot-password" 
                            class="btn btn-link rounded-pill">Mot de passe oublié ?</button>
                    </div>
                </div>
            </div>
            <div class="container mt-3 mb-md-3">
                <div class="row justify-content-center">
                    <div class="col-12 text-center" id="lahatra">
                        <a href="https://iteam-s.mg/" target="_blank" class="ps-2 pe-2">
                            <i class="fa-solid fa-globe fa-2x"></i>
                        </a>
                        <a href="https://github.com/iTeam-S/" target="_blank" class="ps-2 pe-2">
                            <i class="fa-brands fa-github fa-2x"></i>
                        </a>
                        <a href="https://www.facebook.com/iTeam.Community" target="_blank" class="ps-2 pe-2">
                            <i class="fa-brands fa-facebook fa-2x"></i>
                        </a>
                        <a href="mailto:contact@iteam-s.mg" target="_blank" class="ps-2 pe-2">
                            <i class="fa-solid fa-envelope-open-text fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
