.couleur_header
{
    background-color: rgba(38, 118, 119, 1.0);
}

.nom_iteams
{
    font-family: 'Z003';
    color: white;
    font-size: 1.7em;
}

.logo_iteams
{
    border-radius: 13px;
    border: 1px inset white;
}

p
{
    color: rgba(38, 118, 119, 1.0);
    font-size: 1.3em;
    text-decoration: underline;
}

#ajoutIcone
{
    border-radius: 10px;
}

.passer
{
    background-color: rgba(38, 118, 119, 1.0);
}
