.couleur_header
{
    background-color: rgba(38, 118, 119, 1.0);
}

.nom_iteams
{
    font-family: 'Z003';
    color: white;
    font-size: 1.7em;
}

.logo_iteams
{
    border-radius: 13px;
    border: 1px inset white;
}

p
{
    color: rgba(38, 118, 119, 1.0);
    font-size: 1.3em;
    text-decoration: underline;
    font-family: 'Z003';
}

#ajoutIcone
{
    border-radius: 10px;
}

.passer
{
    background-color: rgba(38, 118, 119, 1.0);
}

.logo_index
{
    font-family: 'Z003';
    text-decoration: none;
    font-size: 1.9em;
}

.instruction
{
    font-family: 'Z003';
    font-size: larger;
    background-color: rgba(38, 118, 119, 1.0);
    color: white;
}
