.titre {
    font-family: 'Tangerine', cursive;
    background: #057885;
    color: white;
}

.lahatra {
    color: #057885;
}

.stylo {
    transition: scale 0.3s;
}

.stylo:hover {
    scale: 1.1;
}
